{% extends "index.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <form method="POST">
      <h3 align="center" style="color: antiquewhite;">Sign Up</h3>
      <div class="form-group">
        <label for="email"style="color: antiquewhite;">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="firstName"style="color: antiquewhite;">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter first name"
        />
      </div>
      <div class="form-group">
        <label for="password1"style="color: antiquewhite;">Password</label>
        <input
          
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter password"
        />
      </div>
      
      <div class="form-group">
        <label for="phoneno"style="color: antiquewhite;">Enter your phone number</label>
        <input
          type="number"
          class="form-control"
          id="phoneno"
          name="phoneno"
          placeholder="Enter your phone number"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}